<%- include('partials/header'); -%>

<h1>Home</h1>
<p> <%= homeStart %> </p>

<% postList.forEach(function(post){ %>
  <h2> <%= post.postTitle %> </h2>
  <p>
    <%= post.post.substring(0,100) + "..." %>
  </p>
  <a href="/posts/<%=post._id%>">Read More</a>
<% }); %>

<%- include('partials/footer'); -%>
